@font-face{font-family:Manrope;src:url('/fonts/inter-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Manrope;src:url('/fonts/inter-500.ttf') format('truetype');font-weight:500;font-display:swap}
@font-face{font-family:Manrope;src:url('/fonts/inter-600.ttf') format('truetype');font-weight:600;font-display:swap}
@font-face{font-family:Manrope;src:url('/fonts/inter-700.ttf') format('truetype');font-weight:700;font-display:swap}
@font-face{font-family:Manrope;src:url('/fonts/inter-800.ttf') format('truetype');font-weight:800;font-display:swap}
@font-face{font-family:'DM Mono';src:url('/fonts/ibm-plex-mono-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'DM Mono';src:url('/fonts/ibm-plex-mono-500.ttf') format('truetype');font-weight:500;font-display:swap}
@font-face{font-family:'DM Mono';src:url('/fonts/ibm-plex-mono-600.ttf') format('truetype');font-weight:600;font-display:swap}
